* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    width: 100%;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 45px auto;
    width: 900px;
    height: 8000px;
    flex-wrap: wrap;
    gap: 40px;
}

.contenedor>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2D4263;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    flex-direction: column;
    padding-top: 35px;
    gap: 25px;
    flex: 1 1 300px;
}

.contenedor>div>form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedor>div>form>input,
select {
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: black;
}
option{
    color: black;
}

.contenedor .button {
    margin-top: 20px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: black;
}
